{% extends "base.html" %}

{% load static %}

{% block title %}
    Profiel
{% endblock %}

{% block content %}
    <div class="grid gap-4 max-w-180 content-start justify-self-center">
        {% if is_user_profile %}
            <c-card>
                <div class="flex items-center justify-between">
                    <c-header.h4>Jouw publiek profiel</c-header.h4>
                    <c-button.primary tag="a" :href="{% url 'members:user-profile-edit' %}">
                        Profiel Bewerken
                    </c-button.primary>
                </div>
            </c-card>
        {% endif %}

        <div class="flex flex-col sm:flex-row justify-between items-center sm:space-x-4 space-y-4 sm:space-y-0">
            <div class="max-h-64 max-w-64">
                {% if member.picture %}
                    <img class="rounded-full shadow-2xl border-6 border-tertiary" src="{{ member.picture.url }}"
                         alt="Profile Picture"/>
                {% else %}
                    <img class="rounded-full shadow-2xl border-6 border-tertiary size-64"
                         src="{% static 'default-profile-picture.svg' %}" alt="Profile Picture"/>
                {% endif %}
            </div>
            <c-card class="grow self-stretch">
                <c-header.h4>{{ member.display_name }}</c-header.h4>
                <ul>
                    <li>{{ member.email }}</li>
                    <li>{{ member.phone_number }}</li>
                    {% if member.show_birthday %}
                        <li>{{ member.birthday }}</li>{% endif %}
                    <li>Lid sinds: 1 september 2020</li>
                    <li>Lidmaatschap: Actief Lid</li>
                </ul>
                {#  only if member has done at least one board year #}
                <c-separator/>
                <ul>
                    <li>56e "Lancerend": Assessor Bastion</li>
                    <li>56e "Lancerend": Abactis (Interim)</li>
                </ul>
            </c-card>
        </div>

        {% comment unfinished %}
    {% if member.groups.count > 0 %}
        <c-card>
            <h3>Mijn groepen</h3>
            {% for group in member.groups %}
                <h4>{{ group.name }}</h4>
                <p>{{ group.description }}<p>
            {% endfor %}
        </c-card>
    {% endif %}

    {% if False and member_info|length > 0 %}
        <c-card>
            <p class="text-4xl font-semibold mb-6">Lidmaatschapsgegevens</p>
            <div class="w-4/5 space-y-4">
                {% if member_info.show_birthday %}
                    {% include 'account_info/panel.html' with key='Date of birth' value=member_info.birthday %}
                {% endif %}
                {% include 'account_info/panel.html' with key='Member since' value=member_info.member_since %}
            </div>

            <div class="mt-6 w-4/5">
                <p class="text-3xl font-semibold mb-2">Deelnames</p>
                {% for activity in member_info.activities %}
                    <div class="mb-2">
                        <p class="text-xl font-bold">{{ activity.title }}</p>
                        <p>{{ activity.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </c-card>
    {% endif %}
    {% endcomment %}
    </div>
{% endblock %}
