{% extends "base.html" %}

{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="grid gap-6 max-w-120 justify-self-center justify-items-center">
        <img class="h-20 w-auto" src="{% static 'loefbijter-logo.svg' %}" alt="N.S.Z.V. De Loefbijter"/>
        <c-card>
            <c-header.h2 class="mx-auto">Log in om verder te gaan</c-header.h2>
            <form class="grid gap-4">
                {% csrf_token %}
                {{ form }}
                <c-link href="{% url 'members:reset-password' %}">Wachtwoord vergeten?</c-link>
                <c-button.primary type="submit">Log in</c-button.primary>
                <p class="text-center">Geen account?
                    <c-link href="">Account aanmaken</c-link>
                </p>
            </form>
        </c-card>
    </div>
{% endblock %}
