{% extends "base.html" %}

{% load i18n static %}

{% block title %}
    {% translate "Login" %}
{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
<div class="page solo">
    <img class="solo-logo" src="{% static 'loefbijter-logo.svg' %}" alt="N.S.Z.V. De Loefbijter"/>
    <c-panel>
        <h1 class="solo-title">{% translate "Log in to continue" %}</h1>
        <form method="post" class="form-stack">
            {% csrf_token %}
            {{ form }}
            <c-link href="{% url 'reset-disabled' %}">{% translate "Forgot your password?" %}</c-link>
            <div class="form-actions">
                <c-button type="submit">{% translate "Log in" %}</c-button>
            </div>
        </form>
    </c-panel>
    <c-language-switch class="solo-foot" />
</div>
{% endblock %}
