repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-merge-conflict
      - id: trailing-whitespace
        args: [--markdown-linebreak-ex=md]
        exclude: .*/static/.*
      - id: end-of-file-fixer
        exclude: .*/static.*
      - id: debug-statements
      - id: name-tests-test
        args: [--django]
        exclude: .*/__mocks__.py

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-format
      - id: ruff

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock
