{% load i18n %}
{% blocktranslate trimmed with name=user.get_full_name|default:user.username %}Hello {{ name }},{% endblocktranslate %}

{% blocktranslate trimmed %}A request was made to reset the password for your account. If you did not request this, please ignore this email.{% endblocktranslate %}

{% translate "Your temporary password is:" %}

{{ temp_password }}

{% blocktranslate trimmed %}Log in with this password and change it immediately via your profile (Profile > Set password).{% endblocktranslate %}

{% blocktranslate trimmed %}If you did not request this, please contact the site administrator.{% endblocktranslate %}

{% translate "Kind regards," %}
{% translate "The team" %}
