{% load i18n %}
{% blocktrans %}Hallo {{ user.get_full_name|default:user.username }},{% endblocktrans %}

{% blocktrans %}Er is verzocht om het wachtwoord voor je account opnieuw in te stellen. Als je dit niet hebt aangevraagd, negeer dan deze e-mail.{% endblocktrans %}

{% blocktrans %}Je tijdelijke wachtwoord is:{% endblocktrans %}

{{ temp_password }}

{% blocktrans %}Log in met dit wachtwoord en wijzig het direct via je profiel (Profiel > Wachtwoord Instellen).{% endblocktrans %}

{% blocktrans %}Als je dit niet hebt aangevraagd, neem dan contact op met de sitebeheerder.{% endblocktrans %}

{% blocktrans %}Met vriendelijke groet,{% endblocktrans %}
{% blocktrans %}Het team{% endblocktrans %}
