{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% translate "Forgot password" %}{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
<div class="page solo">
    <img class="solo-logo" src="{% static 'loefbijter-logo.svg' %}" alt="{% translate 'Loefbijter logo' %}" />
    <c-panel>
        <h1 class="solo-title">{% translate "Forgot your password?" %}</h1>
        <p class="solo-text">
            {% blocktranslate trimmed %}Contact <a href="mailto:webcie@loefbijter.nl">webcie@loefbijter.nl</a> and we will create a new password for you as soon as possible.{% endblocktranslate %}
        </p>
        <div class="form-actions">
            <a href="{% url 'members:login' %}" class="btn btn-secondary">{% translate "Back to login" %}</a>
        </div>
    </c-panel>
</div>
{% endblock %}
