{% extends "base.html" %}
{% load static %}

{% block title %}
    Kalender
{% endblock %}

{% block head %}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
  <link rel="stylesheet" href="{% static 'events/calendar.css' %}">
  <style>
    :root {
      --fc-border-color: var(--color-secondary);
      --fc-today-bg-color: color-mix(in srgb, var(--color-secondary-accent) 15%, transparent);
      --fc-button-bg-color: var(--color-secondary);
      --fc-button-hover-bg-color: var(--color-loef-2-offset);
      --fc-button-active-bg-color: var(--color-loef-3-offset);

    }

    @keyframes fadeOutline {
      0%, 66.66% {
        outline: 2px solid color-mix(in srgb, red 50%, transparent) !important;
      }
      99% {
        outline: 2px solid transparent !important;
      }
      100% {
        outline: none !important;
      }
    }

    .fc .fc-button:focus,
    .fc .fc-button:active {
      animation: fadeOutline 1s forwards !important;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'list',
        height: '85vh',
        eventDisplay: 'block',
        eventColor: 'var(--color-secondary)',
        customButtons: {
          synchronize: {
            text: 'Synchronize calendar',
              click: function() {
              window.location.href = "/events/feed";
              }
          }
        },
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,listWeek synchronize'
        },
        views: {
          timeGridWeek: {
            type: 'timeGrid',
            duration: { weeks: 1 }
          },
          listWeek: {
            type: 'list',
            duration: { weeks: 1 }
          }
        },
        events: {
          url: "/events/event_filler",
          method: 'GET'
        },
        eventTimeFormat: {
          hour: '2-digit',
          minute: '2-digit',
          meridiem: false,
          hour12: false
        },
      });
      calendar.render();
    });
  </script>
{% endblock head %}

{% block content %}
<!-- Calendar Section -->
<section id="calendar-wrapper" class="flex-auto p-2">
  

  <!-- FullCalendar Container -->
  <div id='calendar' class="mx-auto"></div>
</section>

{% endblock %}
