{% extends "base.html" %}

{% block title %}
    {{ event.title }}
{% endblock %}

{% block content %}

<div>
    <c-card>
        <c-header.h1>{{ event.title }}</c-header.h1>

        <!-- TODO: try to add some logic based on dimensions to have less empty space on this page -->
        {% if event.picture %}
            <img class="rounded-lg shadow-2xl max-h-100 bg-background border-4 border-secondary my-4 mx-auto" 
                 src="{{ event.picture.url }}"
                 alt="Event Picture"/>
        {% endif %}

        <c-separator/>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-4">

            <!-- Basic information -->
            <div class="grid grid-cols-2">
                <div class="font-bold">Van:</div>
                <div>{{ event.start|date:"d M y, H:i" }}</div>
                    
                <div class="font-bold">Tot:</div>
                <div>{{ event.end|date:"d M y, H:i" }}</div>

                <div class="font-bold">Locatie:</div>
                <div>{{ event.location }}</div>

                <div class="font-bold">Prijs:</div>
                <div>{{ price }}</div>

            </div>

            <!-- Related to registering -->
            <div class="grid grid-cols-2">
                <div class="font-bold">Aanmelden vanaf:</div>
                <div>{{ event.registration_start|date:"d M y, H:i" }}</div>
                    
                <div class="font-bold">Aanmelden tot:</div>
                <div>{{ event.registration_deadline|date:"d M y, H:i" }}</div>

                <div class="font-bold">Afmelden tot:</div>
                <div>{{ event.cancelation_deadline|date:"d M y, H:i" }}</div>

                <div class="font-bold">Inschrijvingen:</div>
                <div>
                    {% if event.capacity %}
                        {{ num_registrations }} / {{ event.capacity }}
                    {% else %}
                        {{ num_registrations }}
                    {% endif %}
                </div>
            </div>
        </div>

        <c-separator/>

        <!-- TODO: neatly move registration button logic here. -->

    </c-card>

    <!-- TODO: Create some sort of gallery to list registrations -->

</div>
        {% if registration_active %}
        <div class="border p-4 rounded-xl bg-gray-100 justify-center mt-4">
            <span class="font-bold text-2xl">
                {% if queue_position > 0 %}
                    {{ queue_position }}e in de wachtrij.</span>
                {% else %}
                    Je bent ingeschreven.
                {% endif %}
            <form method="post" action="{{ request.path }}" id="cancellation-form" class="flex flex-col">
                {% csrf_token %}
                <input type="hidden" name="action" value="cancel">
                <div class="py-4">
                    <input required=1 type="hidden" name="fine-consent" value="1" id="fine-consent-checkbox" class="mx-2 scale-175">
                    <label for="fine-consent" class="hidden font-normal" id="fine-consent-label">Ik weet dat ik me te laat uitschrijf en accepteer de consquenties (€{{ fine_amount_display }} boete)</label>
                </div>
                <input type="submit" value="Uitschrijven" id="cancellation-button" class="font-bold text-3xl bg-gray-100 py-2 px-4 rounded">
            </form>
            <script>
                const date = new Date();
                const cancellationDeadline = new Date("{{ event.cancelation_deadline|date:'Y-m-d H:i:s'}}");
                if ({queue_position} == 0 && date >= cancellationDeadline) {
                    // Only show fine consent option if your registration is ACTIVE and the cancellation deadline is due
                    document.getElementById("fine-consent-label").classList.remove("hidden")
                    document.getElementById("fine-consent-checkbox").type="checkbox"
                }
            </script>
            {% if event.has_form_fields %}
            <a href="{% url 'events:registration' slug=event.slug %}">
                <button>Wijzig formulier</button>
            </a>
            {% endif %}
        </div>
        {% else %}
        <div class="border p-4 rounded-xl bg-gray-100 justify-center mt-4">
            <button id="registration-button" class="font-bold text-3xl bg-gray-100 py-2 px-4 rounded">
            </button>
            <script>
            const now = new Date();
            const registrationStart = new Date("{{ event.registration_start|date:'Y-m-d H:i:s' }}");
            const registrationDeadline = new Date("{{ event.registration_deadline|date:'Y-m-d H:i:s' }}");
            const registrationButton = document.getElementById("registration-button");

            if (now >= registrationStart && now <= registrationDeadline) {
            registrationButton.textContent = "Inschrijven is mogelijk";
            } else {
            registrationButton.textContent = "Inschrijven voor dit evenement is niet meer mogelijk";
            }

            registrationButton.addEventListener("click", () => {
            if (now >= registrationStart && now <= registrationDeadline) {
                const form = document.createElement("form");
                form.method = "post";
                form.action = "";

                const csrfTokenInput = document.createElement("input");
                csrfTokenInput.type = "hidden";
                csrfTokenInput.name = "csrfmiddlewaretoken";
                csrfTokenInput.value = "{{ csrf_token }}";

                const actionInput = document.createElement("input");
                actionInput.type = "hidden";
                actionInput.name = "action"
                actionInput.value = "register"

                const submitInput = document.createElement("input");
                submitInput.type = "submit";
                submitInput.value = "Register";
                submitInput.className = "btn btn-primary";

                form.appendChild(csrfTokenInput);
                form.appendChild(actionInput);
                form.appendChild(submitInput);

                document.body.appendChild(form);
                form.submit();
                }
            });
            </script>
        </div>
        {% endif %}

{% endblock %}
