@import "tailwindcss";

@theme {
  /* Primary color */
  --color-primary: oklch(0.9 0.05 230);

  /* Secondary color */
  --color-secondary: oklch(0.7 0.15 230);

  --color-background: oklch(0.5 0.15 230);

  --color-active: oklch(0.3 0.15 230);

  /* Accent color */
  --color-warning: #f5a623;

  --color-danger: #dc3545;
  --color-error: var(--color-danger);

  /* Text color */
  --color-text: #212529;

}
