{% extends "base.html" %}

{% block title %}
Account information
{% endblock %}

{% block content %}

<section id="profile" class="max-w-200 mx-auto mt-8 border-2 p-4">
  <h1>Jouw publiek profiel</h1>
  <div class="flex flex-wrap justify-center items-center border-2">
    <div class="basis-64 m-4 aspect-square border-2">
      <img class="rounded-full shadow-xl" src="{% if user_info.picture %}{{ user_info.picture.url }}{% else %}https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80{% endif %}" alt = "Profile Picture">
    </div>
    <div class="basis-64 m-4 border-2 text-xl">
      <h4>{{ user_info.name }}</h4>
      <h2>{{ user_info.email }}</h2>
      <h2>{{ user_info.phone_number }}</h2>

      {% if user_info.groups.count != 0 %}
      <div>
          <h3>Mijn groepen</h3>
          {% for group in user_info.groups %}
              <h4>{{ group.name }}</h4>
              <p>{{ group.description }}<p>
          {% endfor %}
      </div>
      {% endif %}
    </div>

    {% if member_info|length != 0 %}
      <div class="flex flex-col flex-1 items-center" id="membership-information">
        <p class="text-4xl font-semibold mb-6">Lidmaatschapsgegevens</p>
        <div class="w-4/5 space-y-4">
          {% if member_info.show_birthday %}
            {% include 'account_info/panel.html' with key='Date of birth' value=member_info.birthday %}
          {% endif %}
          {% include 'account_info/panel.html' with key='Member since' value=member_info.member_since %}
        </div>

        <div class="mt-6 w-4/5">
          <p class="text-3xl font-semibold mb-2">Deelnames</p>
          {% for activity in member_info.activities %}
            <div class="mb-2">
              <p class="text-xl font-bold">{{ activity.title }}</p>
              <p>{{ activity.description }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
