{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta content="translucent-black" name="apple-mobile-web-app-status-bar-style"> -->
    <title>{% block title %}{% endblock %} | Loefbijter</title>
    <link rel="icon" type="image/x-icon" href="{% static 'loefbijter-logo.svg' %}">
    {% tailwind_preload_css %}
    {% tailwind_css %}
</head>
<body class="flex flex-col bg-secondary w-screen min-h-screen">
        {# Header #}

        <div class="sticky top-0 z-1000">
            {% if request.user_agent.device_type != "Mobile" %}
                    <c-menu.desktop class="bg-secondary" />
                {% endif %}
            <c-waves base="top" />
        </div>
        {# Main content #}
        <div class="grow bg-primary">
            {% block content %}
            {% endblock %}
        </div>
        {# Footer #}
        <div class="bg-primary">
            <c-waves base="bottom" />
            {% if request.user_agent.device_type == "Mobile" %}
                {% include "menu_mobile.html" %}
            {% endif %}
        </div>
</body>
</html>
