<select
        name="{{ widget.name }}"
        {% include "django/forms/widgets/attrs.html" %}
    class="h-9 w-full min-w-0 rounded-md border border-tertiary bg-background px-3 py-1 text-base text-foreground outline-none disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 aria-invalid:border-destructive"
>
    {% for group_name, group_choices, group_index in widget.optgroups %}
        {% if group_name %}
            <optgroup label="{{ group_name }}">
        {% endif %}
    {% for option in group_choices %}
        {% include option.template_name with widget=option %}
    {% endfor %}
    {% if group_name %}
        </optgroup>
    {% endif %}
    {% endfor %}
</select>
