{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | Loefbijter</title>
    <link rel="icon" type="image/x-icon" href="/media/loefbijter-logo.svg">
    {% tailwind_preload_css %}
    {% tailwind_css %}
     <!-- <link rel="stylesheet" href="{% static 'colors.css' %}"> -->
</head>
<body class="m-0 overflow-x-hidden bg-secondary">
<!-- header -->
<div class="bg-primary">
    <div class="sticky top-0 z-1000">
        {% component "wavy-seperator-top" %}  
            {% if True %} {# Replace True with a condition to check if the request is from a desktop #}
                {% include "desktop-menu.html" %}
            {% endif %}
        {% endcomponent %}
    </div>

    <!-- (var(--spacing)*15)-3vh) is the height of the top bar -->
    <div class="relative w-screen min-h-[calc(100vh-(var(--spacing)*15)-3vh)]">
        <!-- main content -->
        {% block content %}
        {% endblock %}

        <!-- footer -->
        <div class="absolute bottom-0 z-1000">
            {% component "wavy-seperator-bottom" %}
                {% if True %} {# Replace True with a condition to check if the request is from a desktop #}
                    {% include "footer.html" %}
                {% else %} {# request is from a smartphone #}
                    {% include "smartphone-menu.html" %}
                {% endif %}
            {% endcomponent %}
        </div>
    </div>
</div>
</body>
</html>
