{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div>
    <div class="w-screen h-[30vh] relative bg-accent -top-[3vh]">
        {% include "banner.html" %}
    </div>

    <div class="w-screen relative -top-[6vh] z-100">
        {% component "wavy-seperator-full" / %}
    </div>

    <div class="w-screen relative -top-[9vh] z-10 h-[80vh]">
        <!-- {% block main-content %}
        {% endblock %}         -->
        notification content
    </div>
</div>
{% endblock %}
